# Virtual Environments (Indi ma-upload ang dako nga venv folders)
.venv/
venv/

# Python Cache
__pycache__/
*.pyc https://github.com/WS-Students-Professionals-Lounge/INTEGRATED-STUDY-HUB-MANAGEMENT-SYSTEM-FOR-WS-STUDENTS-PROFESSIONALS-LOUNGE
.pytest_cache/

# Sensitive Files & Database
.env
*.db
app.db
test_db.db

# VS Code settings
.vscode/